<% unless comment.archived? %>
     <p>
        <strong>id:</strong>
        <%= comment.id %>
    </p>
    <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
    </p>

    <p>
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>

    <p>
    <%= link_to "Destroy Comment", [comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                } %>
    </p>
    <%= link_to "Edit_comment", edit_comment_path(comment)%>
<% end %>
