<%= form_with model: [@posts, @posts.comments.build] do 
|form| %>
<p>
<%= form.label :commmeter %> <br>
<%= form.text_field :commenter%>
</p>
<p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
<div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</div>

  <p>
    <%= form.submit %>
  </p>
<% end %>