<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<%= link_to "Back to Posts" ,user_posts_path(@user) %>
<%= is_button %>
<ul>
    <li><%= link_to "Edit", edit_post_path(@post) %></li>
    <li><%= link_to "Destroy", post_path(@post), data: 
                {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                } %></li>
</ul>

<h2>Comments</h2>
<%= render @post.comments %> 


<h2>Add a comment: </h2>
<%= render 'comments/form' %> 

